<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Login Page</title>
	<!-- CSS -->
	<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" />
<style type="text/css">
.social_icon span {
	font-size: 40px;
	text-align: right;
}

.social_icon span:hover {
	color: white;
	cursor: pointer;
}

</style>	
	<link rel="stylesheet" href="/css/member/common/all.css">
	<link rel="stylesheet" href="/css/member/common/common.css">
	
	<!-- JavaScript -->
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
	<script src="/webjars/jquery-validation/1.17.0-1/jquery.validate.min.js"></script>
	<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="/js/member/login.js"></script>
</head>
<body>
	<br>
	<!--container start.//-->
	<div class="container" style="max-width: 500px;">
			<div id="error" class="alert alert-danger" role="alert" th:if="${error}">
				<span th:text="${error}"></span>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		<div class="card bg-light">
		
			<article class="card-body mx-auto w-75" >
				<h4 class="card-title mt-3 text-center">
					<a href="/">Sign In</a>
				</h4>
<!-- 				<form id="loginForm" action="/member/login" method="post"> -->
				<form id="loginForm" method="post">
					<!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-envelope"></i>
							</span>
						</div>
						<input name="username" id="username" class="form-control" placeholder="Email address" type="text" th:value="${email}">
					</div>
					<!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-lock"></i>
							</span>
						</div>
						<input name="password" id="password" class="form-control"
							placeholder="Password" type="password">
					</div>
					<!-- form-group// -->
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block">
							Login</button>
					</div>
					<!-- form-group// -->
					<div class="form-group">
						<div class="d-flex justify-content-center links">
							Don't have an account?<a href="/member/join">Sign Up</a>
						</div>
						<div class="d-flex justify-content-center">
							<a href="/member/password_reset">Forgot your password?</a>
							
						</div>
					</div>
						<div class="social_icon" style="text-align: right;" >
							<span><a href="/oauth2/authorization/facebook"><i class="fab fa-facebook-square"></i></a></span> 
							<span><a href="/oauth2/authorization/google"><i class="fab fa-google-plus-square"></i></a></span>
							<span><a href="/oauth2/authorization/kakao"><i class="fas fa-comment-dots"></i></a></span>
							<span><a href="/oauth2/authorization/naver"><img src="/img/naver.png" style="width: 40px;height: 41px; margin-bottom: 10px;"></a></span>
						</div>
				</form>
			</article>
		</div>
		<!-- card.// -->
	</div>
	<!--container end.//-->
</body>
</html>
